<!--
  Generated template for the GooglePlaces component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
  style="background: rgba(20,186,166, 0.5);"
-->
<div>
  <!--ion-searchbar #searchbar  placeholder="Adresse de l'entreprise"
                 cancelButtonText = "Annuler"
                 [ngModel]=bindModelData
                 (ngModelChange)="updateData($event)"></ion-searchbar-->
  <ion-item >
    <ion-label floating>Adresse</ion-label>
    <ion-input id="searchbar"
               cancelButtonText = "Annuler"
               [(ngModel)]=bindModelData
               (ionChange)="updateData($event)"></ion-input>
  </ion-item>

</div>
